body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

#box{
    height: 200px;
    width: 1000px;
    background-color: #2D2D2D;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main{
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

#loginform,#signupform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

#signupform{
    top: 49%;
    left: 75%;
    visibility: hidden;
}

#loginform h1, #signupform h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: turquoise;
}

#loginform input, #signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 5px;
}

#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color: turquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}

/* #login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top: 55%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}

#signup_btn{
    left: -52%;
}
#login_btn:hover, #signup_btn:hover{
    background-color: white;
    color: #2D2D2D;
    cursor: pointer;
}

#login_msg, #signup_msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#signup_msg{
    left:  -52%;
    bottom: 100%;
}

#login_msg{
    left:  -32%;
    bottom: 100%;
}  */